<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>What is Heroku | Raul Barroso</title>

  <meta name="description" content="A framework for easily creating beautiful presentations using HTML">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <link rel="stylesheet" href="/css/reveal.css">
  <link rel="stylesheet" href="/stylesheets/theme.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="/stylesheets/zenburn.css">

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
  document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <div>
            <h2>What is?</h2>  
            <img src="http://farm6.staticflickr.com/5214/5436759800_ef77779aae_b.jpg" alt="Heroku">
        </section>
        <section>
          <h2>I'm Raúl Barroso</h2>
          <a href="http://twitter.com/raulbleon" target="_blank">@raulbleon</a>
          <br><br><br>
          <p class="fragment">I'm Front End Engineer</p>
          <p class="fragment">I work @ Heroku</p>
          <p class="fragment">I moved to SF 7 months ago</p>
          <p class="fragment">This is my first talk in English</p>          
        </section>
        <section>
          <div class="inline">
            <h1>THIS </h1>
            <h1 class="fragment">IS </h1>
            <h1 class="fragment">MY </h1>
            <h1 class="fragment">FIRST </h1>
            <h1 class="fragment">TALK </h1>
            <h1 class="fragment">IN </h1>
            <h1 class="fragment">ENGLISH</h1>
          </div>
        </section>
        <section>
          <h1>Do you need?</h1>
          <img src="/images/cc.jpg" alt="Closed Captions">
        </section>
        <section>
          <h3>If you don't understand something, <br>please stop my presentation and shout me</h3>
          <br><br>
          <h1 class="fragment">LOUD</h1>
          <br><br>
          <h2 class="fragment">And don't use SLANG</h2>
        </section>
        <section>
          <br><br><br>
          <h2>But you're living here...</h2>
          <br><br>
          <p class="fragment">Yeah, I'm living here.</p>
        </section>
        <section>
          <h1>Things that matter</h1>
          <br><br>
          <ol>
            <li class="fragment">No shame</li>
            <br>
            <li class="fragment">I can order burritos in my first language (easy!)</li>
            <br>
            <li class="fragment">I love my job and I LOVE HEROKU (even easier)</li>
          </ol>
        </section>
        <section>
          <h1>How are you doing your job?</h1>
          <br>
          <p>Don't speaking english properly...</p>
        </section>
        <section>
          <h2>And I think in Fernando Torres</h2>
          <img src="/images/torres.jpeg" alt="Fernando Torres">
        </section>
        <section>
          <h3>This guy scored 33 goals <br>on his first season in premier league</h3>
          <img src="/images/scores.png" alt="Scores">
          <p>source: <a href="http://en.wikipedia.org/wiki/Fernando_Torres">http://en.wikipedia.org/wiki/Fernando_Torres</a></p>
        </section>
        <section>
          <h1>He loved his love and he did his best</h1>
          <br><br>
          <h2 class="fragment">But sometimes <br>LOVE is not enough to be successful</h2>
        </section>
        <!-- <section>
          <img src="/images/love-not-enough.png" alt="Love not enough">
        </section> -->
        <section>
          <h1>Should be easier</h1>
          <br><br>
          <div class="fragment">
            <h2>That's why Heroku exists</h2>
            <br>
            <img src="/images/heroku-logo.png" alt="Heroku Logo">
          </div>
        </section>
        <section>
          <h1>So, What's Heroku?</h1>
          <br>
          <p class="fragment">It's a platform who makes deployments easy. <br>Tradionally this was hard.</p>
          <br>
          <p class="fragment">Heroku lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.</p>
        </section>
        <section>
          <h1>Developer Productivity</h1>
          <br>
          <p>Why require 3 steps when 1 will do?</p>
          <br>
          <p class="fragment">Why require any action at all when zero steps will do?</p>          
        </section>
        <section>
          <h1>AGILITY</h1>
          <br>
          <p class="fragment">How fast you can publish your application, <br>how fast you can change it</p>
          <p class="fragment"><br>We believe that a deployment platform’s workflow and experience should be designed</p>
          
          <h3 class="fragment"><br>No surprises</h3>
          <p class="fragment">Our first concern is your happiness</p>
        </section>
        <section>
          <blockquote>
            At Heroku we believe deploying apps should be easy and making coffee should be hard."
            - @mattmanning & @pvh
          </blockquote>
          <img src="/images/heroku-coffee.jpeg" alt="Heroku Coffee">
          <!-- by <a href="http://www.flickr.com/photos/yukop">yukop</a> -->
        </section>
        <section>
          <h2>Example:</h2>
          <h3>How create your application<br><br></h3>
          <pre><code contenteditable>$ heroku create

-> Creating ancient-anchorage-7699... done, stack is cedar
-> http://ancient-anchorage-7699.herokuapp.com/ | git@heroku.com:ancient-anchorage-7699.git</code></pre>
        </section>
        <section>
          <h2>Just code and have fun</h2>
          <a href="http://localhost:3000">http://localhost:3000</a>
          <p class="fragment"><br>Wonderful ideas and applications running locally</p>
          <h1 class="fragment"><br>SHARE THEM</h1>
        </section>
        <section>
          <h3>Step 1. You have your application</h3>
          <h2 class="fragment">Languages?</h2>
          <ol>
            <li class="fragment">Ruby</li>
            <li class="fragment">Python</li>
            <li class="fragment">Java</li>
            <li class="fragment">Node.js</li>
            <li class="fragment">Clojure</li>
            <div class="fragment">
              <li>And... Buildpacks</li>
              <pre><code contenteditable>$ heroku create --buildpack http://github.com/heroku/heroku-buildpack-ruby.git</code></pre>
              <a href="https://github.com/heroku/heroku-buildpacks" target="_blank">https://github.com/heroku/heroku-buildpacks</a>
            </div>
          </ol>
        </section>
        <section>
          <h3>Step 2.</h3>
          <img src="/images/toolbelt.png" alt="Heroku Toolbelt">
          <a href="https://toolbelt.heroku.com/">https://toolbelt.heroku.com/</a>
        </section>
        <section>
          <h3>Step 3. Create your app on Heroku <br></h3>
          <pre><code contenteditable>$ heroku create

-> Creating ancient-anchorage-7699... done, stack is cedar
-> http://ancient-anchorage-7699.herokuapp.com/ | git@heroku.com:ancient-anchorage-7699.git</code></pre>
        </section>
        <section>
          <h3>Step 4. Deploy</h3>
          <pre><code contenteditable>$ heroku create

-> Creating ancient-anchorage-7699... done, stack is cedar
-> http://ancient-anchorage-7699.herokuapp.com/ | git@heroku.com:ancient-anchorage-7699.git</code></pre>

          <a href="http://my-app.herokuapp.com">http://my-app.herokuapp.com</a>
        </section>
        <section>
          <h1>You can start <br>by Free</h1>
          <br><br>
          <p>And later, the more you need, the more you pay</p>
          <p class="fragment">It's perfect for startups or testing something quickly</p>
        </section>
        <section>
          <h1>But also is great <br>to scale</h1>

          <pre><br><br><code contenteditable>$ heroku ps:scale web=2 worker=1
  Scaling web processes... done, now running 2
  Scaling worker processes... done, now running 1
          </code></pre>
          <a href="http://success.heroku.com/">http://success.heroku.com/</a>
        </section>
        <section>
          <br><br>
          <h1>Easy to add new features</h1>
        </section>
        <section>
          <h2>Add-ons</h2>
          <pre><br><br><code contenteditable>$ heroku addons:add NAME-ADDON -a NAME-APP</code></pre>
          <img src="/images/addons.png" alt="addons">
          <a href="https://addons.heroku.com/" target="_blank">https://addons.heroku.com/</a>
        </section>

        <section>
          <h2>Postgres</h2>
          <br>
          <img src="/images/postgres.png" alt="Postgres">
          <a href="https://postgres.heroku.com/" target="_blank">https://postgres.heroku.com/</a>
        </section>
        <section>
          <br><br><br>
          <h1>WE TAKE THIS BUSINESS SERIOUSLY</h1>
        </section>
        <section>
          <img src="/images/heroku-dodgeball.png" alt="Heroku Dodgeball">
          <p class="fragment">Even playing dodgeball</p>
        </section>
        <section>
          <h2>Documentation:</h2>
          <img src="/images/devcenter.png" alt="Devcenter">
          <a href="https://devcenter.heroku.com" target="_blank">https://devcenter.heroku.com/</a>
        </section>
        <section>
          <h2>Status:</h2>
          <img src="/images/status.png" alt="Status Site">
          <a href="https://status.heroku.com/" target="_blank">https://status.heroku.com/</a>
        </section>
        <section>
          <h2>Lights at office:</h2>
          <img src="/images/status-lights.png" alt="Status lights">
        </section>
        <section>
          <h2>Help:</h2>
          <img src="/images/help.png" alt="Help">
          <a href="http://help.heroku.com/" target="_blank">http://help.heroku.com/</a>
        </section>
        <section>
          <h2>Good practises:</h2>
          <p>Because is not only about how to use our platform</p>
          <br>
          <ul>
            <li><a href="https://github.com/ddollar/foreman">https://github.com/ddollar/foreman</a></li>
            <li><a href="https://github.com/adamwiggins/rest-client">https://github.com/adamwiggins/rest-client</a></li>
            <li><a href="https://github.com/hone/bundler">https://github.com/hone/bundler</a></li>
            <li><a href="https://github.com/bmizerany/sinatra">https://github.com/bmizerany/sinatra</a></li>
          </ul>
        </section>
        <section>
          <br><br><br>
          <h1>HEROKU USES HEROKU TO BUILD HEROKU</h1>
        </section>
        <section>
          <br><br>
          <h1>DEMO</h1>
          <br>
          <br>
          <p class="fragment">This presentation is running on Heroku</p>
        </section>
        <section>
          <h2>QUESTIONS?</h2>
          <br>
          <img src="/images/luis-aragones.jpeg" alt="Luis Aragones">
        </section>
        <section>
          <img src="/images/logo-waza.png" alt="waza">
          <div>
            <iframe src="http://player.vimeo.com/video/48837086?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=a086ee" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
          </div>
          <br>
          <a href="http://waza.heroku.com/" target="_blank">http://waza.heroku.com/</a>
        </section>
        <section>
          <h3>Gracias</h3>
          <img src="/images/heroku-office.jpeg" alt="Heroku Office">
          <br>
          <a href="http://twitter.com/raulbleon" target="_blank">@raulbleon</a>
        </section>
      </div>


      <script src="lib/js/head.min.js"></script>
      <script src="js/reveal.min.js"></script>

      <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        mouseWheel: false,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
        { src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
</script>

</body>
</html>