<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>What is Heroku | Raul Barroso</title>

  <meta name="description" content="A framework for easily creating beautiful presentations using HTML">

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

  <link rel="stylesheet" href="/css/reveal.css">
  <link rel="stylesheet" href="/stylesheets/theme.css" id="theme">

  <!-- For syntax highlighting -->
  <link rel="stylesheet" href="/stylesheets/zenburn.css">

  <!-- If the query includes 'print-pdf', use the PDF print sheet -->
  <script>
  document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
  </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <div>
            <img src="/images/heroku-logo.png" alt="Heroku Logo">
            <div>What is Heroku</div>  
            <img src="http://farm6.staticflickr.com/5214/5436759800_ef77779aae_b.jpg" alt="Heroku">
        </section>
        <section>
          <h2>I'm Raúl Barroso</h2>
          <div>@raulbleon</div>
        </section>
        <section>
          <h2>
            <br>
          </h2>
          <h2>I'm Front End Engineer</h2>
          <div>I work @ Heroku</div>
          <div>
            <br>
          </div>
          <div>I'm from Spain</div>
          <div>
            <br>
          </div>
          <div>I moved to SF 7 months ago</div>
          <div>
            <br>
          </div>
          <div>This is my first talk in English</div>
          <div>THIS IS MY FIRST TALK IN ENGLISH</div>
        </section>
        <section>
          <h2>Do I need</h2>
          <div>
            <br>
          </div>
          <div>CC ?</div>
          <div>
            <br>
          </div>
          <div>I hope not</div>
          <div>
            <br>
          </div>
          <div>If so, please stop my presentation, and shout me</div>
          <div>
            <br>
          </div>
          <div>LOUD</div>
          <div>
            <br>
          </div>
          <div>DON'T USE SLANG</div>
        </section>
        <section>
          <h2>(many of you are asking, but you're living here...)</h2>
          <div>
            <br>
          </div>
          <div>Yeah, I do everything here. Things that matter</div>
          <div>
            <br>
          </div>
          <div>
            <ol>
              <li>No shame (ex: "this smells to human beings")</li>
              <li>I can order burritos in my first language (easy)</li>
              <li>I do love my job (even easier)</li>
            </ol>
            <div style="">
              <br>
            </div>
          </div>
          <div style="">(people tell me... it's really surprising how well you do your job not speaking english correctly)</div>
        </section>
        <section>
          <h2>And I think in Fernando Torres</h2>
          <div>(imagen)</div>
        </section>
        <section>
          <h2>This guy scored&nbsp;</h2>
          <div>33 goals first season</div>
          <div>
            <br>
          </div>
          <div>He played with guys from other nationalities</div>
          <div>He didn't undersand his coach</div>
          <div>
            <br>
          </div>
          <div>HE JUST PLAYED</div>
          <div>HE DID HIS BEST</div>
          <div>HE LOVE HIS JOB</div>
        </section>
        <section>
          <h2>Sometimes LOVE is not enough to be successfully</h2>
          <div>
            <br>
          </div>
          <div>Things have to be easy</div>
        </section>
        <section>
          <h2>That's why Heroku exists.</h2>
          <div>is a platform who makes&nbsp;Deployments easy</div>
          <div>
            <br>
          </div>
          <div>A deployment platform’s workflow and experience should be designed</div>
          <div>
            <div>
              <br>
            </div>
          </div>
          <div>Tradionally this was hard</div>
          <div>(your code doesn't have the same behavior at the cloud)</div>
          <div>(you had managing servers)</div>
          <div>
            <br>
          </div>
          <div>WE DON'T WANT THAT</div>
          <div>
            <br>
          </div>
          <div>
            <span style="">Our service lets app developers spend 100% of their time on their application code, not managing servers, deployment, ongoing operations, or scaling.</span>
          </div>
        </section>
        <section>
          <h2>
            <br>
          </h2>
          <div>PERSON HAPPINESS</div>
          <div>
            <br>
          </div>
          <div>
            <div style="">
              <span style="color: rgb(51,51,51);background-color: rgb(245,245,245);">"At Heroku we believe deploying apps should be easy and making coffee should be hard." -&nbsp;</span>
              <a href="https://twitter.com/pvh" style="color: rgb(115,111,168);background-color: rgb(245,245,245);">
              </a>
              <a href="https://twitter.com/pvh" style="color: rgb(115,111,168);background-color: rgb(245,245,245);">@</a>
              <b style="color: inherit;">pvh</b>
              <span style="color: rgb(51,51,51);background-color: rgb(245,245,245);">&nbsp;&amp;&nbsp;</span>
              <a href="https://twitter.com/mattmanning" style="color: rgb(115,111,168);background-color: rgb(245,245,245);">
              </a>
              <a href="https://twitter.com/mattmanning" style="color: rgb(115,111,168);background-color: rgb(245,245,245);">@</a>
              <b style="color: inherit;background-color: rgb(245,245,245);">mattmanning</b>
            </div>
          </div>
          <div>
            <br>
          </div>
          <div>(foto de café)</div>
        </section>
        <section>
          <h2>Developer Productivity</h2>
          <div>(how fast you can publish your application, how fast you can change it) === AGILITY</div>
          <div>
            <br>
          </div>
          <div>Stop worrying about servers, hosting, etc.</div>
          <div>WE WANT TO CREATE AN AMAZING DEVELOPER EXPERIENCE</div>
          <div>
            <br>
          </div>
          <div>$ heroku create</div>
          <div>
            <br>
          </div>
          <div>(it's so amazing you don't have to choose the name of the app):</div>
          <div>
            <br>
          </div>
          <div>
            <div>→ heroku create</div>
            <div>Creating ancient-anchorage-7699... done, stack is cedar</div>
            <div>http://ancient-anchorage-7699.herokuapp.com/ | git@heroku.com:ancient-anchorage-7699.git</div>
          </div>
        </section>
        <section>
          <h2>Just code</h2>
          <div>have fun</div>
          <div>
            <br>
          </div>
          <div>RUN IT LOCALLY</div>
          <div>http://localhost:3000</div>
          <div>
            <br>
          </div>
          <div>BUT, I WANT TO SHARE IT TO THE CLOUD...</div>
        </section>
        <section>
          <h2>Easy. Steps:</h2>
          <div>
            <br>
          </div>
          <div>1. You have your application</div>
          <div>2. Which languages?</div>
          <div>
            <br>
          </div>
          <div>we started with ruby, people wanted more PYTHON, JAVA, NODE.JS, CLOJURE), even more?:</div>
          <div>
            <br>
          </div>
          <div>$ heroku create --stack cedar --buildpack http://github.com/heroku/heroku-buildpack-ruby.git</div>
          <div>
            <br>
          </div>
          <div>more info</div>
          <div>(https://github.com/heroku/heroku-buildpacks)</div>
        </section>
        <section>
          <h2>HEROKU TOOLBELT</h2>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
        </section>
        <section>
          <h2>You're ready to deploy:</h2>
          <div>
            <br>
          </div>
          <div>$ git push heroku master</div>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
          <div>http://my-app.herokuapp.com</div>
          <div>
            <br>
          </div>
          <div>(the same that you've got locally)</div>
          <div>(you've got on the cloud)</div>
        </section>
        <section>
          <h2>You can start by Free</h2>
          <div>
            <br>
          </div>
          <div>The more you grow (the more you pay) (it's fair, isn't?)</div>
          <div>
            <br>
          </div>
          <div>It's perfect for startups or to test something quickly</div>
          <div>
            <br>
          </div>
          <div>But also is great to scale</div>
          <div>(http://success.heroku.com/)</div>
          <div>
            <pre lang="term" style="background-color: rgb(67,78,86);border: 1.0px solid rgb(63,70,76);font-size: 11.0px;margin: 0.0px 0.0px 22.0px;outline: 0.0px;padding: 12.0px;line-height: 18.0px;color: rgb(248,248,248);background-repeat: repeat repeat;">
              <pre lang="term" style="border: 1.0px solid rgb(63,70,76);font-size: 11.0px;margin: 0.0px 0.0px 22.0px;outline: 0.0px;padding: 12.0px;line-height: 18.0px;background-repeat: repeat repeat;">
                <span style="background-color: transparent;outline: 0.0px;color: rgb(174,174,174);">$</span>
                <span style="background-color: transparent;outline: 0.0px;"> heroku ps:scale web=2 worker=1
                </span>
                <span style="background-color: transparent;outline: 0.0px;color: rgb(173,198,238);">Scaling web processes... done, now running 2
                </span>
                <span style="background-color: transparent;outline: 0.0px;color: rgb(173,198,238);">Scaling worker processes... done, now running 1</span>
              </pre>
            </pre>
          </div>
        </section>
        <section>
          <h2>
            <span style="font-size: 36.0px;letter-spacing: normal;line-height: 43.2px;">POSTGRESS</span>
          </h2>
          <div>
            <span style="font-size: 36.0px;letter-spacing: normal;line-height: 43.2px;">+</span>
          </div>
          <h2>ADDONS</h2>
          <div>
            <br>
          </div>
          <div>(screenshot)</div>
          <div>
            <br>
          </div>
          <div>$ heroku addons:add NAME-ADDON -a NAME-APP</div>
          <div>
            <br>
          </div>
        </section>
        <section>
          <h2>ALL LOGS</h2>
          <div>
            <br>
          </div>
          <div>grouped (if something is wrong, easy to check)</div>
        </section>
        <section>
          <h2>WE TAKE THIS BUSINESS SERIOUSLY</h2>
          <div>
            <br>
          </div>
          <div>https://devcenter.heroku.com/</div>
          <div>
            <br>
          </div>
          <div>https://status.heroku.com/</div>
          <div>
            <br>
          </div>
          <div>lights:</div>
          <div>http://www.flickr.com/photos/78869347@N08/7417016234/in/photostream</div>
          <div>http://www.flickr.com/photos/12590245@N05/7991346427/</div>
          <div>
            <br>
          </div>
          <div>http://help.heroku.com/</div>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
        </section>
        <section>
          <h2>good practices</h2>
          <div>which is not only about how to use our platform, is also about good practices</div>
          <div>
            <br>
          </div>
          <div>
            <div>https://github.com/ddollar/foreman</div>
            <div>https://github.com/adamwiggins/rest-client</div>
            <div>https://github.com/hone/bundler</div>
            <div>https://github.com/bmizerany/sinatra</div>
          </div>
          <div>
            <br>
          </div>
        </section>
        <section>
          <h2>HEROKU USES HEROKU TO BUILD HEROKU</h2>
          <div>
            <br>
          </div>
          <div>(different sites following the same UX experience)</div>
          <div>
            <br>
          </div>
          <div>WE ARE REALLY SERIOUS</div>
        </section>
        <section>
          <h2>Mention about collaborators</h2>
          <div>(different developers)</div>
        </section>
        <section>
          <h2>WELL, not so serious</h2>
          <div>
            <h2 style="">Or not so serious</h2>
            <div style="">http://www.flickr.com/photos/janaboruta/6278508102/in/photostream/</div>
            <div style="">
              <br>
            </div>
            <div style="">https://a248.e.akamai.net/camo.github.com/19f3aa2e09dec9d7a7cba97ef081cad05d6f4f10/68747470733a2f2f696d672e736b697463682e636f6d2f32303131313032342d6a3631346e6d656e67676e6e64736778686269656679693963662e706e67</div>
          </div>
          <div>
            <br>
          </div>
        </section>
        <section>
          <h2 style="">THIS PRESENTATION IS RUNNING ON HEROKU</h2>
          <div style="letter-spacing: normal;">
            <br>
          </div>
          <div style="letter-spacing: normal;">DEMO</div>
          <div>
            <br>
          </div>
        </section>
        <section>
          <h2>
            <br>
          </h2>
          <h2>QUESTIONS?</h2>
          <div>
            <br>
          </div>
          <div>
            <div style="">http://odstatic.com/eurocopa.com/2012/06/aragones.jpg</div>
          </div>
          <div>
            <br>
          </div>
          <div>
            <br>
          </div>
          <h2>@raulbleon</h2>
        </section>
        <section>
          <h2 style="">https://vimeo.com/48837086</h2>
          <div>
            <br>
          </div>
          <h2 style="">http://waza.heroku.com/</h2>
          <div>
            <br>
          </div>
          <div>
            <h3 style="margin-bottom: 0.0px;">28 february 2013</h3>
          </div>
        </section>
        <section>
          <h2>Thank you</h2>
          <div>
            <br>
          </div>
          <div>http://www.flickr.com/photos/seaofclouds/6099472853/sizes/l/in/pool-1797197@N22/</div>
          <div>
            <br>
          </div>
          <div>MAP</div>
          <div>
            <br>
          </div>
          <div>COME!</div>
          <div>
            <br>
          </div>
        </section>
      </div>


      <script src="lib/js/head.min.js"></script>
      <script src="js/reveal.min.js"></script>

      <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        mouseWheel: false,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'linear', // default/cube/page/concave/zoom/linear/none

        // Optional libraries used to extend on reveal.js
        dependencies: [
        { src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
        { src: 'lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
        { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
        { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });
</script>

</body>
</html>